<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Purecss layout example.">
    <title>Layout Example using &ndash; Purecss - Responsive</title>
    <!-- <link rel="stylesheet" href="./pure-min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/pure-min.css') }}">
    <!-- <link rel="stylesheet" href="./main.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">test-template</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Index</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Learn more</a></li>

                <li class="pure-menu-item menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Examples</a>
                </li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>This is the title</h1>
            <h2>this is the subtitle</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">How to use this layout</h2>
            <p>
                Just look into the code, the main tag is <code>id="layout"</code>, after that the menu (including hamburger) and then... the <code>id="main"</code> which contains the main parts of the page. 
            </p>

            <h2>Tables Demo</h2>
            <hr/>
            <h3>Simple Table</h3>
            
            <table class = "pure-table">
               <thead>
                  <tr>
                     <th>User</th>
                     <th>Department</th>
                     <th>Level</th>
                  </tr>
               </thead>
               
               <tbody>
                  <tr>
                     <td>Inger Koln</td>
                     <td>Sales</td>
                     <td>4</td>
                  </tr>
                  <tr>
                     <td>Kraus Vander</td>
                     <td>Marketing</td>
                     <td>8</td>
                  </tr>
                  <tr>
                     <td>Kreg Morgan</td>
                     <td>Tech</td>
                     <td>10</td>
                  </tr>
               </tbody>
            </table>
            
            <h3>Bordered Table</h3>
            <table class="pure-table pure-table-bordered">
               <thead>
                  <tr>
                     <th>Student</th>
                     <th>Subject</th>
                     <th>Student id</th>
                  </tr>
               </thead>
               
               <tbody>
                  <tr>
                     <td>Gemma Jones</td>
                     <td>English</td>
                     <td>B2343</td>
                  </tr>
                  <tr>
                     <td>Anastasiya Kavi</td>
                     <td>Physics</td>
                     <td>C887</td>
                  </tr>
                  <tr>
                     <td>Paula Vrick</td>
                     <td>Math</td>
                     <td>C112</td>
                  </tr>
               </tbody>
            </table>
            
            <h3>Table with Horizontal Borders</h3>
            <table class="pure-table pure-table-horizontal">
               <thead>
                  <tr>
                     <th>Employee</th>
                     <th>Employee ID</th>
                     <th>Class</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Baldor Kaur</td>
                     <td>653</td>
                     <td>A</td>
                  </tr>
                  <tr>
                     <td>Cheng ti</td>
                     <td>554</td>
                     <td>B</td>
                  </tr>
                  <tr>
                     <td>Coren Mer</td>
                     <td>445</td>
                     <td>A</td>
                  </tr>
               </tbody>
            </table>
            
            <h3>Stripped Table</h3>
            <table class = "pure-table pure-table-striped">
               <thead>
                  <tr>
                     <th>User</th>
                     <th>User ID</th>
                     <th>Token</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Rober Galarga</td>
                     <td>372</td>
                     <td>liqjlns</td>
                  </tr>
                  <tr>
                     <td>Carev Aca</td>
                     <td>998</td>
                     <td>lkjwnkg</td>
                  </tr>
                  <tr>
                     <td>Allan Brito</td>
                     <td>302</td>
                     <td>lkunwer</td>
                  </tr>
               </tbody>
            </table>
            <hr>
            <h2 class="content-subhead">Forms</h2>
            <p>
                This is just an example in how to use forms in this purecss template.
            </p>
            <form class="pure-form">
                <fieldset>
                    <legend>A compact inline form</legend>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <label for="default-remember">
                        <input type="checkbox" id="default-remember" />Remember Me</label>
                    <button type="submit" class="pure-button pure-button-primary">Sign In</button>
                </fieldset>
            </form>

            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <legend>A Stacked Form</legend>
                    <label for="stacked-email">Email</label>
                    <input type="email" id="stacked-email" placeholder="Email" />
                    <span class="pure-form-message">This is a required field.</span>
                    <label for="stacked-password">Password</label>
                    <input type="password" id="stacked-password" placeholder="Password" />
                    <label for="stacked-state">Province</label>
                    <select id="stacked-state">
                        <option>MB</option>
                        <option>ON</option>
                        <option>BC</option>
                    </select>
                    <label for="stacked-remember" class="pure-checkbox">
                        <input type="checkbox" id="stacked-remember" /> Remember me</label>
                    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                </fieldset>
            </form>

            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="aligned-name">Username</label>
                        <input type="text" id="aligned-name" placeholder="Username" />
                        <span class="pure-form-message-inline">This is a required field.</span>
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-password">Password</label>
                        <input type="password" id="aligned-password" placeholder="Password" />
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-email">Email Address</label>
                        <input type="email" id="aligned-email" placeholder="Email Address" />
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-foo">Supercalifragilistic Label</label>
                        <input type="text" id="aligned-foo" placeholder="Enter something here..." />
                    </div>
                    <div class="pure-controls">
                        <label for="aligned-cb" class="pure-checkbox">
                            <input type="checkbox" id="aligned-cb" /> I&#x27;ve read the terms and conditions</label>
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>

            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <legend>Legend</legend>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                            <label for="multi-first-name">First Name</label>
                            <input type="text" id="multi-first-name" class="pure-u-23-24" />
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <label for="multi-last-name">Last Name</label>
                            <input type="text" id="multi-last-name" class="pure-u-23-24" />
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <label for="multi-email">E-Mail</label>
                            <input type="email" id="multi-email" class="pure-u-23-24" required="" />
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <label for="multi-city">City</label>
                            <input type="text" id="multi-city" class="pure-u-23-24" />
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <label for="multi-state">Province</label>
                            <select id="multi-state" class="pure-input-1-2">
                                <option>ON</option>
                                <option>NB</option>
                                <option>BC</option>
                            </select>
                        </div>
                    </div>
                    <label for="multi-terms" class="pure-checkbox">
                        <input type="checkbox" id="multi-terms" /> I&#x27;ve read the terms and conditions</label>
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </fieldset>
            </form>


            <form class="pure-form">
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1-2" placeholder="Username" />
                    <input type="text" class="pure-input-1-2" placeholder="Password" />
                    <input type="email" class="pure-input-1-2" placeholder="Email" />
                </fieldset>
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1-2" placeholder="A title" />
                    <textarea class="pure-input-1-2" placeholder="Textareas work too"></textarea>
                </fieldset>
                <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Sign in</button>
            </form>

            <form class="pure-form pure-g">
                <div class="pure-u-1-4">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1-4" />
                </div>
                <div class="pure-u-3-4">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-3-4" />
                </div>
                <div class="pure-u-1-2">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1-2" />
                </div>
                <div class="pure-u-1-2">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1-2" />
                </div>
                <div class="pure-u-1-8">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1-8" />
                </div>
                <div class="pure-u-1-8">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1-8" />
                </div>
                <div class="pure-u-1-4">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1-4" />
                </div>
                <div class="pure-u-1-2">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1-2" />
                </div>
                <div class="pure-u-1-5">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1-5" />
                </div>
                <div class="pure-u-2-5">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-2-5" />
                </div>
                <div class="pure-u-2-5">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-2-5" />
                </div>
                <div class="pure-u-1">
                    <input type="text" class="pure-input-1" placeholder=".pure-u-1" />
                </div>
            </form>

            <form class="pure-form">
                <input type="email" placeholder="Requires an email" required="" />
            </form>

            <form class="pure-form">
                <input type="text" placeholder="Disabled input here..." disabled="" />
            </form>

            <form class="pure-form">
                <input type="text" class="pure-input-rounded" />
                <button type="submit" class="pure-button">Search</button>
            </form>

            <h2 class="content-subhead">Examples - Buttons in purecss</h2>
            <p>
                Some examples of buttons in PURECSS
            </p>

            <a class="pure-button" href="#">A Pure Button</a>
            <button class="pure-button">A Pure Button</button>

            <button class="pure-button pure-button-disabled">A Disabled Button</button>
            <button class="pure-button" disabled="">A Disabled Button</button>

            <a class="pure-button pure-button-active" href="#">An Active Button</a>
            <button class="pure-button pure-button-active">An Active Button</button>

            <a class="pure-button pure-button-primary" href="#">A Primary Button</a>
            <button class="pure-button pure-button-primary">A Primary Button</button>

            <button class="button-success pure-button">Success Button</button>
            <button class="button-error pure-button">Error Button</button>
            <button class="button-warning pure-button">Warning Button</button>
            <button class="button-secondary pure-button">Secondary Button</button>

            <button class="button-xsmall pure-button">Extra Small Button</button>
            <button class="button-small pure-button">Small Button</button>
            <button class="pure-button">Regular Button</button>
            <button class="button-large pure-button">Large Button</button>
            <button class="button-xlarge pure-button">Extra Large Button</button>
            <br>
            <button class="button-error button-xlarge pure-button">Error Button</button>
            <button class="button-error button-large pure-button">Error Button</button>
            <button class="button-error pure-button">Error Button</button>
            <button class="button-error button-small pure-button">Error Button</button>
            <button class="button-error button-xsmall pure-button">Error Button</button>

            <h2 class="content-subhead">Menus and submenus</h2>
            <p>
                Some Menus and sub menus examples
            </p>

            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected">
                        <a href="#" class="pure-menu-link">Home</a>
                    </li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link">Contact</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">Facebook</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">Twitter</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">Korken Blog</a>
                            </li>
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                <a href="#" id="menuLink1" class="pure-menu-link">Even More</a>
                                <ul class="pure-menu-children">
                                    <li class="pure-menu-item">
                                        <a href="#" class="pure-menu-link">Option 1</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="#" class="pure-menu-link">Option 2</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="#" class="pure-menu-link">Option 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>



            <h2 class="content-subhead">This is the final area, some text can be added</h2>
            <p>
                Technology has evolved to the point that, most of the trivial activities, could be performed by machines, computers or even an specific device (using the iot concept)
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
                </div>
            </div>

            <h2 class="content-subhead">This is a responsive layout</h2>
            <p>
                You can definitively try inspecting this page, and use the top left hamburger menu which is the most accurate way to navigate using a mobile device.
            </p>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/ui.js') }}"></script>

</body>
</html>